<ul>
  <% @users.each do |user| %>
    <aside>
      <section class="user_info">
        <div>
          <h1><%= gravatar_for user %></h1>
          <h3><%= user.first_name %> <%= user.last_name %></h3>
        </div>  
        <%= link_to 'Add Friend', '#', class: 'btn btn-primary add_friend' %>
      </section>
    </aside>
  <% end %>
</ul>