<ul>
  <% @users.each do |user| %>
    <aside>
      <section class="user_info">
        <div>
          <h1><%= gravatar_for user %></h1>
          <h3><%= user.first_name %> <%= user.last_name %></h3>
        </div>  
        <% unless user == current_user %>
          <%= link_to 'Add Friend', "#{root_path}friends/create/#{user.id}", method: :post, class: 'btn btn-primary add_friend' %>
        <% end %>
      </section>
    </aside>
  <% end %>
</ul>